.myproductbody {
    background-color: white;
}

.userInfocard {
    background-color: rgba(0, 0, 255, 0.11);
}

.title04 {
    color: blue;
}

.filter-text {
    line-height: normal;
    font-size: 13px;
    font-style: italic;
    height: 20px;
}

.filter {
    box-shadow: 0px 2px 8px 3px rgb(214, 214, 214);
    border-radius: 8px;
}

.filter-card {
    border: solid rgb(201, 192, 224) 3px;
    border-radius: 8px;
    min-height: 135px;
    padding: 10px;
}